# Build outputs
bin/
obj/
*.exe
*.dll
*.pdb

*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

.vscode/
.vs/
.idea/

publish/

*.log
*.tmp

temp/
node_modules/

packages/

appsettings.Development.json
secrets.json

desktop.ini
Thumbs.db

*.DotSettings.user

*.vspscc
*.vssscc
